<ion-header>
  <ion-toolbar color="primary">
    
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recipes"></ion-back-button>
      </ion-buttons>
   
    <ion-title>{{ loadedRecipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
          <ion-img [src]="loadedRecipe.imageUrl"></ion-img>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align: center;">{{loadedRecipe.title}}<h1></h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let ig of loadedRecipe.ingredients">
            {{ ig }}
          </ion-item>
          <ion-item >
            <ion-img style="width: 50px; height: 50px;"[src]="loadedRecipe.css"></ion-img>
            <ion-img style="width: 50px; height: 50px;"[src]="loadedRecipe.html"></ion-img>
            <ion-img style="width: 50px; height: 50px;"[src]="loadedRecipe.js"></ion-img>
            <ion-img style="width: 50px; height: 50px;"[src]="loadedRecipe.angular"></ion-img>
            <ion-img style="width: 50px; height: 50px;"[src]="loadedRecipe.ionic"></ion-img>
          </ion-item>
        </ion-list>
        <ion-button style="margin: auto; padding-left: 1em;" href="https://www.facebook.com/messages/t/{{loadedRecipe.facebook}}">Messenger</ion-button>
      </ion-col>
     
    </ion-row>
  </ion-grid>

</ion-content>
